      <!--Introduction-->
      <section id="about" class="introduction scrollto">

        <div class="row clearfix">

            <div class="col-3">
                <div class="section-heading">
                    <h3>ABOUT ME</h3>
                    <h2 class="section-title">WHO AM I?</h2>
                    <p class="section-subtitle">I am a fullstack web developer and currently studying at Helsinki Business College to Vocational Qualification in Information and Communications Technology. The program generate new software developers who will specializes in React and JavaScript in Front End and PHP, Symfony, Drupal & WordPress in Back End. But you can see that this is a one-page application created with Angular in the front and backed by NodeJs. This means that I am really passionate to learn new technologies and methods. Feel free to walk around  my pages and see what you looking for.</p><br>
                    <p>Jay Phan</p>
                </div>

            </div>

            <div class="col-2-3">

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fab fa-js fa-2x"></i>
                        
                        
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>Programing Languages</h4>
                        <p>JavaScript is my favorite languages to work with. I can write PHP also</p>
                    </div>
                </div>
                <!--End of Icon Block-->
                                <!--Icon Block-->
                                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                                        <!--Icon-->
                                        <div class="icon">
                                            <i class="fa fa-tablet fa-2x"></i>
                                        </div>
                                        <!--Icon Block Description-->
                                        <div class="icon-block-description">
                                            <h4>Fully Responsive</h4>
                                            <p>I like my websites to be really responsive (mobile friendly)</p>
                                        </div>
                                    </div>
                                    <!--End of Icon Block-->

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-bolt fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>One-page Application</h4>
                        <p>Srolling is boring so I used Angular Router.</p>
                    </div>
                </div>
                <!--End of Icon Block-->



                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-rocket fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>Parallax Effect</h4>
                        <p>Yes, the home page has the paralax effect but you have to reload to site first</p>
                    </div>
                </div>
                <!--End of Icon Block-->

            </div>

        </div>


    </section>
    <!--End of Introduction-->
